.button_arrow {
  width: 40%;
  height: 60px;
  border: 1px solid lightgray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 10%;
  font-size: 1vw; }

.buttonlink {
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.buttonlink:after {
  content: '\00BB';
  position: relative;
  margin-left: 10px;
  opacity: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1vw;
  color: #F8565D; }

.button_arrow:hover .buttonlink {
  margin-right: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.button_arrow:hover .buttonlink:after {
  opacity: 1;
  right: 0; }

.button_arrow:hover {
  border: none; }

.news_item_picture_button .button_arrow {
  width: 100%;
  height: 100%;
  margin-top: -5%; }

.news_item_picture_button .buttonlink:after {
  font-size: 1vw; }
